scgi_port = 127.0.0.1:5000

min_peers = 1
max_peers = 1000

download_rate = 0
upload_rate = 0

#bind = 192.168.235.11
port_range = 50000-51000
#port_random = yes
check_hash = yes
session_save = yes
use_udp_trackers = yes
peer_exchange = yes

directory = /mnt/mhard/Video
session = ~/.rtorrent/sessions/
encoding_list = UTF-8
encryption = allow_incoming,try_outgoing,enable_retry

schedule = watch_directory,5,5,load=~/downloads/torrents/*.torrent

# ratio options
#stop_on_ratio = 115
#schedule = ratio,30,30,"stop_on_ratio=115"

#max_file_size = -1
#split_file_size = -1
#umask = 002

dht = auto
#dht_port = 60001

